[user]
	email = pierre.gauthier@diabeloop.fr
	name = pierre
[credential]
	helper = cache --timeout 3600
[merge]
    tool = fugitive
[mergetool "fugitive"]
    cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"

[diff]
    tool = meld
    prompt = false

[init]
	templatedir = ~/.git-templates
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[safe]
	directory = folder
	directory = regsim
	directory = simulation_framework
	directory = common
