set ignorecase                          " ignore caased whern searching
set incsearch                           " show current search
set number                 
set relativenumber                      " relative line number
set showmode   
set smartcase
set novisualbell

set ideamarks
set ideajoin

map Q <Nop>                                        " disable entring in ex mode
noremap j gj
noremap k gk
noremap <space> y
nnoremap <silent> "" "+yiw                         " copy word into clipboard
nnoremap <silent> "<space> "+yy                    " copy line into clipboard

nnoremap sv *``                                    " search current word under cursor
" map <space> y                                      " <space> is now to copy
" map ck i\<CR><ESC>                                 " cut linne with an \
nnoremap ck i"+\"<Esc>hK                           " cut too long string
nnoremap K i<cr><esc>                              " cut line
nnoremap H ^                                       " go end of line
nnoremap L g_                                      " go start of line

" ---- close buffers on left, rigth, ..
nnoremap ql <C-w>l:wq<CR>
nnoremap qh <C-w>h:wq<CR>
nnoremap qj <C-w>j:wq<CR>
nnoremap qk <C-w>k:wq<CR>
nnoremap qq :x<CR>

nnoremap <silent> ff :nohlsearch<Bar>:echo<CR> " Press ff to turn off highlighting and clear any message already displayed.

"
" split
"
noremap <C-w>f :vertical resize 84<CR>
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
"max height Ctrl-w _
"maz width Ctrl-w |.
noremap <silent> <C-Left> :vertical resize +3<CR>
noremap <silent> <C-Right> :vertical resize -3<CR>
noremap <silent> <C-Up>  :resize +3<CR>
noremap <silent> <C-Down> :resize -3<CR>





" ---------------- easymotion ----------------------------------------------- #
set easymotion                          " Emulate vim-easymotion
nmap z <Plug>(easymotion-f2)
nmap Z <Plug>(easymotion-F2)

" ---------------- NERDTree ------------------------------------------------- #
set NERDTree
map <C-n> :NERDTreeToggle<CR>

" ---------------- surround ------------------------------------------------- #
set surround                        " Emulate vim-surround

" ---------------- multiple-cursors ----------------------------------------- #
set multiple-cursors

" ---------------- commentary ----------------------------------------------- #
set commentary

" ---------------- ReplaceWithRegister -------------------------------------- #
set ReplaceWithRegister 
nmap s  <Plug>ReplaceWithRegisterOperator
nmap ss <Plug>ReplaceWithRegisterLine
xmap s  <Plug>ReplaceWithRegisterVisual

" ---------------- argtextobj ----------------------------------------------- #
set argtextobj            " Emulate https://www.vim.org/scripts/script.php?script_id=2699

" ---------------- exchange ------------------------------------------------- #
" set exchange              " Emulate vim-exchange

" ---------------- textobj-entire ------------------------------------------- #
set textobj-entire         " text object of entire buffer

" ---------------- textobj-indent ------------------------------------------- #
set textobj-indent          " motion on indent objects

map \f :action ReformatCode<CR> "ReformatCode

source ~/.vimrc
source ~/vimfiles/mappings.vim
source ~/vimfiles/plugin.vim
source ~/vimfiles/mapppings_plugin.vim
source ~/vimfiles/colors/colors.vim

"
" Actions
"
nnoremap ,e :action SearchEverywhere<CR>
nnoremap ,g :action FindInPath<CR>
nnoremap ,s :action FileStructurePopup<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gb :action JumpToLastChange<CR>

nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

" nnoremap cc :action CommentByLineComment<CR>
" vnoremap cc :action CommentByLineComment<CR>

nnoremap <C-CR> :action ShowIntentionActions<CR>

nnoremap ,a :action GotoAction<CR>
vnoremap ,a :action GotoAction<CR>
